@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@100;400&family=Roboto+Condensed:wght@300&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/trabalhador-de-servico-de-carro-muscular-reparando-o-veiculo\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

header {
    text-align: center;
    margin-top: 2rem;
}

.container_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    font-family: 'Space Grotesk', sans-serif;

}

table, th, td {
    border: 1px solid black;
    width: 60rem;
    
}

table {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    padding: 0.5rem;
    text-align: center;
}

th {
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgb(145, 148, 148);
}

    
tr:hover:nth-child(1n + 1) {
background-color: #5b6263;
color: #fff;
}

.btn_cadastro_abrirformulario {
    margin-top: 0.5rem;
    height: 2rem;
    width: 20rem;
    align-items: center;
}

.form_product {
    display: flex;
    flex-direction: column;
}

form input {
    width: 40rem;
    height: 2rem;
}

label {
    display: flex;
    margin-left: 0;
    margin-top: 1rem;
}

.formButton {
    align-items: center;
    width: 20rem;
    height: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
