@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@100;400&family=Roboto+Condensed:wght@300&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #d8d8d8;
    color:black
}

header {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.container_body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    font-family: 'Space Grotesk', sans-serif;
}

table, th, td {
    border: 1px solid black;
    width: 60rem;
    
}

table {
    border-collapse: collapse;
    margin: auto;
    border: 0.5px;
    background-color: #f1f0f6;
}

td, th {
    padding: 0.5rem;
    text-align: center;
}

th {
    font-size: 15px;
    text-transform: uppercase;
}

    
tr:hover:nth-child(1n + 1) {
background-color: #9a9e9e;
color: #fff;
}

.btn_cadastro_abrirformulario {
    margin-top: 0.5rem;
    width: 20rem;
    align-items: center;
    border: none;
    text-transform: uppercase;
    height: 2.5rem;
    border-radius: 5px;
    border: solid 1px white;
    
}

.form_product {
    display: flex;
    flex-direction: column;
    
}

form input {
    width: 40rem;
    height: 2.5rem;
    border-radius: 5px;
    border: solid 1px white;
}

label {
    display: flex;
    margin-left: 0;
    margin-top: 1rem;
}

.formButton {
    align-items: center;
    width: 19.9rem;
    margin-top: 1rem;
    text-transform: uppercase;
    height: 2.5rem;
    border-radius: 5px;
    border: solid 1px white;
}

img {
    width: 15% auto;
    height: 30% auto;

}